<h1>Trainer</h1>
<p>Your Gold:<%= @user.gold %></p>
<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>

</div>
<table style="width:30%">

    <th>Skill</th>
    <th>Current</th>
    <th>Cost</th>


  <tr>
    <td>Attack</td>
    <td><%= @user.attack %></td>
    <td><%= @user.attack * ApplicationHelper::ATTACK_COST %></td>
    <td><%= button_to "Increment", { controller:"trainer", action: "incrementAttack"}, {form_class: "new-thing"} %></td>
  </tr>
  <tr>
    <td>Defence</td>
    <td><%= @user.defence %></td>
    <td><%= @user.defence * ApplicationHelper::DEFENCE_COST %></td>
    <td><%= button_to "Increment", { controller:"trainer", action: "incrementDefence"}, {form_class: "new-thing"} %></td>
  </tr>
  <tr>
    <td>Strength</td>
    <td><%= @user.strength %></td>
    <td><%= @user.strength * ApplicationHelper::STRENGTH_COST %></td>
    <td><%= button_to "Increment", { controller:"trainer", action: "incrementStrength"}, {form_class: "new-thing"} %></td>
  </tr>
  <tr>
    <td>Agility</td>
    <td><%= @user.agility %></td>
    <td><%= @user.agility * ApplicationHelper::AGILITY_COST %></td>
    <td><%= button_to "Increment", { controller:"trainer", action: "incrementAgility"}, {form_class: "new-thing"} %></td>
  </tr>
</table>
<%= link_to 'Back',  root_path %>

