<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Nick:</strong>
  <%= @user.nick %>
</p>

<p>
  <strong>Guild:</strong>
  <% begin
       guild = Guilde.find(@user.guilde_id)
     rescue ActiveRecord::RecordNotFound => e
      guild = nil
     end
  %>
  <%  to_path = '/guildes/'
      guild_name = ''%>
  <% if not guild.nil?
       to_path = to_path + guild.id.to_s
       guild_name = guild.name
     end
  %>
  <%= link_to guild_name ,  to_path %>

</p>

<p>
  <strong>Lvl:</strong>
  <%= @user.lvl %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @user.experience %>
</p>

<p>
  <strong>Attack:</strong>
  <%= @user.attack %>
</p>

<p>
  <strong>Defence:</strong>
  <%= @user.defence %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @user.strength %>
</p>

<p>
  <strong>Agility:</strong>
  <%= @user.agility %>
</p>



<%= link_to 'Back',  root_path %>
