<h1>Home</h1>
<%= link_to 'Preview of account', 'users/' + session[:user_id].to_s %>
<%= link_to 'Guildes', guildes_path %>
<%= link_to 'Start expedition', expeditions_path %>
<%= link_to 'Challange other player', 'challenges/new' %>

<%= link_to 'Train yourself', 'trainer/training/' %>
<%= link_to 'Go to work', 'work/work/' %>
<%= link_to 'Ranking', 'users/' %>
<%= link_to 'Challanges', 'challenges' %>