<h1>Work</h1>
<p>Your Gold:<%= @user.gold %></p>
<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>

</div>


<%= link_to 'Back',  root_path %>
<%= button_to "Work for 30s", {controller: "work", action: "workHard", :time => 30}, {form_class: "new-thing"} %>
<%= button_to "Work for 100s", {controller: "work", action: "workHard", :time => 100}, {form_class: "new-thing"} %>
<%= button_to "Work for 500s", {controller: "work", action: "workHard", :time => 500}, {form_class: "new-thing"} %>
<%= button_to "Work for 1000s", {controller: "work", action: "workHard", :time => 1000}, {form_class: "new-thing"} %>
