<p id="notice"><%= notice %></p>

<h1>Expeditions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Duration</th>
      <th>Requiredlevel</th>
      <th>Gainedexperience</th>
      <th>Gainedgold</th>
      <th>Enemyattack</th>
      <th>Enemydefence</th>
      <th>Enemystrength</th>
      <th>Enemyagility</th>
      <th>Enemyhp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expeditions.each do |expedition| %>
      <tr>
        <td><%= expedition.name %></td>
        <td><%= expedition.duration %></td>
        <td><%= expedition.requiredLevel %></td>
        <td><%= expedition.gainedExperience %></td>
        <td><%= expedition.gainedGold %></td>
        <td><%= expedition.enemyAttack %></td>
        <td><%= expedition.enemyDefence %></td>
        <td><%= expedition.enemyStrength %></td>
        <td><%= expedition.enemyAgility %></td>
        <td><%= expedition.enemyHp %></td>
        <td><%= link_to 'Start', expedition %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back',  root_path %>

