<p id="notice"><%= notice %></p>

<h1>Challenges</h1>

<table>
  <thead>
    <tr>
      <th>Attacker</th>
      <th>Defender</th>
      <th>Winner</th>
      <th>Date</th>
      <th>Gold</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= challenge.attacker %></td>
        <td><%= challenge.defender %></td>
        <td><%= challenge.winner %></td>
        <td><%= challenge.date %></td>
        <td><%= challenge.gold %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back',  root_path %>
<%= link_to 'New Challenge', new_challenge_path %>
