<%= form_with(model: fight, local: true) do |form| %>
  <% if fight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fight.errors.count, "error") %> prohibited this fight from being saved:</h2>

      <ul>
      <% fight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label 'Enemy' %>
    <%= form.text_field :defender %>
  </div>

<% end %>
