<p id="notice"><%= notice %></p>

<p>
  <strong>Attacker:</strong>
  <%= @fight.attacker %>
</p>

<p>
  <strong>Defender:</strong>
  <%= @fight.defender %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @fight.winner %>
</p>

<p>
  <strong>Date:</strong>
  <%= @fight.date %>
</p>

<p>
  <strong>Gold:</strong>
  <%= @fight.gold %>
</p>

<%= link_to 'Edit', edit_fight_path(@fight) %> |
<%= link_to 'Back', fights_path %>
